---
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { FaRegFolder } from "react-icons/fa";
import ImageMod from "./ImageMod.astro";

const {
  summary_length,
  blog_folder,
}: { summary_length: number; blog_folder: string } = config.settings;
const { data } = Astro.props;
const { title, image, date, categories } = data.data;
---

<div
  class="bg-body dark:bg-darkmode-body rounded-lg p-6 shadow-sm transition-all duration-300 hover:shadow-lg"
>
  {
    image && (
      <ImageMod
        class="mb-6 w-full rounded"
        src={image}
        alt={title}
        width={445}
        height={230}
        format="webp"
      />
    )
  }

  <div class="mb-4">
    {
      date && (
        <span class="text-text/80 text-xs font-medium tracking-wider uppercase dark:text-gray-400">
          {dateFormat(date)}
        </span>
      )
    }
  </div>

  <h4 class="mb-3 text-xl font-semibold">
    <a
      href={`/${blog_folder}/${data.id}`}
      class="text-dark hover:text-primary block transition-colors duration-200 dark:text-white dark:hover:text-white"
    >
      {title}
    </a>
  </h4>

  <div class="mb-4">
    <div class="text-text/80 flex flex-wrap gap-x-1 text-sm dark:text-gray-400">
      {
        categories.map((category: string, index: number) => (
          <a
            href={`/categories/${slugify(category)}`}
            class="text-text dark:text-darkmode-text hover:text-primary dark:hover:text-darkmode-primary whitespace-nowrap transition-colors duration-200 hover:text-white dark:hover:text-white"
          >
            {humanize(category)}
            {index !== categories.length - 1 && ","}
          </a>
        ))
      }
    </div>
  </div>

  <p class="text-text mb-6 dark:text-gray-300">
    {plainify(data.body?.slice(0, Number(summary_length)))}
  </p>

  <a class="btn btn-outline-primary btn-sm" href={`/${blog_folder}/${data.id}`}>
    read more
  </a>
</div>
